/* CSS rules for styling whole website content */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	font-family: helvetica, verdana, san-serif;
	line-height: 1.6;
	background-color: rgb(255, 255, 255);
	color: rgb(80, 80, 80);
}

/* Styling the header section */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 0;
	min-height: 60px;
}

.header-logo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 10px;
}

.header-links ul {
	margin: 0;
}

.header-links ul li {
	display: inline-block;
	margin: 10px 5px;
	list-style: none;
}

.header-links a {
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px;
	color: rgb(50, 50, 50);
}

.header-links a:hover, .header-links a:focus, .header-links a:active {
	color: white;
	background-color: rgb(150, 150, 150);
}

/* Container for content */
.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

/* Styling the banner section */
.banner {
	background-image: linear-gradient(rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.7) ), url('../images/banner.jpg');
	background-size: cover;
	background-position: center;
	background-color: rgb(245, 245, 245);
	padding: 20px 0;
	text-align: center;
}

.banner-heading {
	font-size: 36px;
}

.banner-text {
	font-size: 26px;
	font-weight: lighter;
}

.banner-link {
	padding: 5px 16px;
	background-color: white;
	border-radius: 5px;
	text-decoration: none;
	color: rgb(50, 50, 200);
	border: 1px solid rgb(50, 50, 200);
	font-size: 28px;
}

.banner-link:hover, .banner-link:active, .banner-link:focus {
	background-color: rgb(50, 50, 200);
	color: rgb(255, 255, 255);
}

/* Styling the row for contents */
.row {
	margin: 30px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 10px 15px;
}

.row h2 {
	font-size: 30px;
	margin: 0;
	border-bottom: 1px solid rgb(225, 225, 225);
}

/* Styling the footer section */
.footer {
	background-color: rgb(240, 240, 240);
	text-align: center;
	padding: 5px 0;
}